<form id="formUpscale">
  <h2>Upscale image</h2>
  <label>Image: <input type="file" accept="image/*" name="image" class="input-file" /><img class="input-img"
      src="upload.svg" /></label>
  <label>Prompt: <textarea type="text" name="prompt"></textarea></label>
  <label>Negative: <textarea type="text" name="negative"></textarea></label>
  <label>Seed: <input type="number" min="-1" max="18446744073709552000" name="seed" value="-1" /></label>
  <div class="grid-4">
    <label>Steps: <input type="number" min="1" max="100" name="steps" value="20" /></label>
    <label>Cfg: <input type="number" min="1" max="100" name="cfg" value="7" /></label>
    <label>Denoise: <input type="number" min="0.01" max="1" step="0.01" name="denoise" value="1" /></label>
    <label>Scale: <select  name="scale">
      <option value="2">2x</item>
      <option value="4">4x</item>
    </select></label>
  </div>
  <div class="buttons-row">
    <button type="submit">Generate</button>
  </div>
</form>