
<form>
    <h2>Text to Image generation</h2>
    <label>Prompt: <textarea name="prompt"></textarea></label>
    <label>Negative: <textarea name="negative"></textarea></label>
    <label>Seed: <input type="number" min="-1" max="18446744073709552000" name="seed" value="-1"/></label>
    <div class="grid-3">
        <label>Steps: <input type="number" min="1" max="100" name="steps" value="22"/></label> 
        <label>Cfg: <input type="number" min="1" max="100" name="cfg" value="8"/></label>
        <label>Denoise: <input type="number" min="-0.01" max="1" step="0.01" name="denoise" value="1"/></label>
    </div>
    <div class="buttons-row">
        <button type="submit">Generate</button>
    </div>

</form>